.widgets-holder-wrap [id*="blogquest"] .widget-top {
    background: #efe69e;
    box-shadow: none;
    border: 0;
}
.widgets-holder-wrap [id*="blogquest"] .widget-top h3,
.widgets-holder-wrap [id*="blogquest"] .widget-top .in-widget-title,
.widgets-holder-wrap [id*="blogquest"] .widget-top .toggle-indicator {
    color: #000;
}
.theme-custom-field-message {
    background-color: #dddddd;
    padding-left: 10px !important;
    margin-bottom: 10px !important;
}